@charset "utf-8";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  flex-flow: column;
}

.container {
  border: 1px solid grey;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 45px;
}

.grid-block {
  border: 1px solid red;
  height: 150px;
  width: 150px;
}